* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ffffff;
}

body {
    padding-top: 0px;
}

.link-pd {
    transition-timing-function: linear;
    transition-duration: 0.1s;
    text-decoration: none;
    color: #ffffff;
    fill: #ffffff;
}

.link-pd:hover {
    transition-timing-function: linear;
    transition-duration: 0.1s;
    color: #dbdbdb;
    fill: #dbdbdb;
    text-decoration: underline;
}

.navs-top {
    width: 100%;
    margin-left: 0;
    position: fixed;
    z-index: 100;
}

.pre-nav-bar {
    background-color: #0580b4;
    width: 100%;
    margin-left: 0;
    padding-bottom: 0.2%;
}

.links-pre-nav-bar {
    margin-bottom: 0;
    font-weight: 300;
    width: 81%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-left: 30%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

.link-pre-nav-bar {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 400;
}

.nav-bar {
    background-color: #ebebeb;
    width: 100%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    margin-left: 0;
}

.campo-logo-jp {
    margin-bottom: 0.8%;
}

.campo-logo-jp-row {
    display: none;
}

.logo-jp {
    margin-top: 1.2%;
    margin-left: 18%;
}

.campo-btn-ctt-nav-bar {
    line-height: 470%;
    text-align: center;
}

.campo-btn-ctt-nav-bar-row {
    display: none;
    width: 100%;
    padding: 0;
}

.btn-ctt-nav-bar {
    background-color: #FD3535;
    font-weight: 600;
    vertical-align: middle;
    font-size: 15px;
    padding: 1%;
    width: 210px;
    height: 40px;
    color: #ffffff;
}

.btn-ctt-nav-bar:hover {
    background-color: #fa5c5c;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .pre-nav-bar {
        display: none;
    }

    .btn-ctt-nav-bar {
        padding-top: 2%;
    }
}

@media screen and (max-width: 551px) {
    .campo-logo-jp {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-jp {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .campo-btn-ctt-nav-bar {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .campo-logo-jp {
        display: none;
    }

    .campo-btn-ctt-nav-bar {
        display: none;
    }

    .campo-logo-jp-row {
        display: block;
    }
    
    .campo-btn-ctt-nav-bar-row {
        display: block;
    }

    .btn-ctt-nav-bar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 200px;
    }
}

.central {
    width: 100%;
    margin-left: 0;
    margin-top: 5.3%;
    background-image: url('img/Foto\ Principal\ Alunos\ Josival\ Penha.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
}

.central-campo-txt {
    display: block;
    width: 60%;
}

.central-campo-form {
    display: block;
    width: 40%;
    padding: 2%;
    margin-top: 3%;
}

#central-form {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.534);
    padding-bottom: 10%;
}

.campo-tit {
    margin-left: 0;
    padding-top: 5%;
    padding-bottom: 3%;
}

.campo-tit h4 {
    text-align: left;
}

.campos {
    margin-left: 0;
}

.campo {
    transition-timing-function: linear;
    transition-duration: 0.1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 1.8%;
}

.campo-top {
    margin-top: 4%;
    margin-bottom: 1%;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ffffff;  
}

::-moz-placeholder {
    color: #ffffff;  
}

:-ms-input-placeholder {  
    color: #ffffff;  
}

.btn-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: #009CDE;
    color: #ffffff;
    margin-top: 10%;
    padding: 2%;
}

.btn-form:hover {
    background-color: #20b0ee;
    color: #ffffff;
}

.campo:focus {
    transition-timing-function: linear;
    transition-duration: 0.1s;
    outline: none;
    border: none;
    box-shadow: none;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

.tit-campo-txt {
    margin-top: 10%;
    margin-left: 17%;
    margin-bottom: 1%;
}

.tit-campo-txt h1 {
    font-size: 32px;
    line-height: 35.2px;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-tit-campo-txt {
    margin-left: 17%;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}

@media screen and (max-width: 1256px){
    .central {
        padding-bottom: 25%;
    }
}

@media screen and (max-width: 961px){
    .central {
        padding-bottom: 35%;
    }
}

textarea {
    resize: none;
}

.central-campo-txt-row {
    display: none;
}

.central-campo-form-row {
    display: none;
}

.txt-dps-central-2-row {
    display: none;
}

@media screen and (max-width: 875px) {
    .central-campo-txt {
        display: none;
    }

    .central-campo-form {
        display: none;
    }

    .central-campo-form-row {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 0%;
    }

    .central-campo-txt-row {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .central-campo-txt-row>.tit-campo-txt {
        margin-left: 0;
    }

    .central-campo-txt-row>.sub-tit-campo-txt {
        margin-left: 0;
    }

    .central-campo-form-row>#central-form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .sub-tit-campo-txt>p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10%;
        font-weight: 400;
        margin-bottom: 1%;
    }
}

.campo-tit-envi h4 {
    text-align: center;
    margin-bottom: 0%;
    color: #009CDE;
}

.btn-form-envi {
    margin-top: 5%;
}

.sub-tit-central-form-envi {
    text-align: center;
    color: #009CDE;
}

.central-form-envi {
    display: none;
}

.txt-dps-central {
    width: 100%;
    margin-left: 0;
    background-color: #ffffff;
    padding-bottom: 7%;
    padding-top: 7%;
}

.txt-dps-central>h1 {
    margin-left: 8%;
    color: #ffffff;
    font-weight: bold;
    background-color: #DF0209;
    width: auto;
    padding: 1%;
}

.txt-dps-central p {
    padding-left: 8%;
    padding-right: 8%;
    color: #000000;
    font-weight: bold;
    margin-top: 2%;
    font-size: 22px;
}

.txt-dps-central-2 {
    width: 100%;
    margin-left: 0;
    background-color: #CDE2EB;
}

.txt-dps-central-2>.periodos {
    padding-bottom: 5%;
    padding-top: 5%;
}

.txt-dps-central-2>.periodos>.svg-campo {
    width: 50%;
    float: left;
    padding-top: 2%;
}

.txt-dps-central-2>.periodos>.svg-campo>svg {
    float: right;
    margin-top: 2%;
    margin-right: 3%;
}

.txt-dps-central-2>.periodos>.h1-campo {
    width: 50%;
    float: right;
    padding-top: 2%;
}

.txt-dps-central-2>.tm {
    padding-left: 7%;
    padding-bottom: 5%;
}

.txt-dps-central-2>.tm>ul {
    margin-top: 12%;
    font-size: 25px;
}

.txt-dps-central-2>.tm>ul>li>span {
    font-weight: 500;
}

@media screen and (max-width: 875px) {
    .txt-dps-central-2 {
        display: none;
    }

    .txt-dps-central-2-row {
        display: block;
    }

    .txt-dps-central-2-row>.periodos {
        padding: 0;
        margin: 0;
        margin-bottom: 5%;
        padding-right: 10%;
        padding-top: 5%;
    }

    .txt-dps-central-2-row>.tm>ul {
        margin: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .txt-dps-central-2-row>.tm>ul>li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .txt-dps-central-2-row>.tm>ul {
        padding-bottom: 5%;
    }

    .txt-dps-central-2-row>.periodos>.svg-campo {
        padding-top: 0.7%;
        padding-right: 0%;
    }

    .txt-dps-central-2-row>.periodos>.h1-campo {
        padding-left: 0%;
    }
}

@media screen and (max-width: 788px) {
    .txt-dps-central>h1 {
        margin-left: 5%;
    }

    .txt-dps-central>p {
        padding-left: 5%;
    }

    .txt-dps-central-2-row>.periodos {
        padding-right: 13%;
    }
}

@media screen and (max-width: 741px) {
    .txt-dps-central>h1 {
        margin-left: 2.5%;
        font-size: 29px;
    }

    .txt-dps-central>p {
        padding-left: 2.5%;
    }
}

@media screen and (max-width: 664px) {
    .txt-dps-central-2-row>.periodos>.svg-campo>svg {
        margin-top: 3.5%;
    }
}

@media screen and (max-width: 635px) {
    .txt-dps-central>h1 {
        margin-left: 1.7%;
        font-size: 27px;
    }

    .txt-dps-central>p {
        padding-left: 1.7%;
        font-size: 19px;
    }
}

@media screen and (max-width: 588px) {
    .txt-dps-central>h1 {
        font-size: 25px;
    }

    .txt-dps-central-2-row>.periodos {
        padding-right: 25%;
    }

    .txt-dps-central-2-row>.periodos>.svg-campo>svg {
        margin-top: 5.5%;
        width: 25px;
    }
}

@media screen and (max-width: 546px) {
    .txt-dps-central>h1 {
        font-size: 23px;
    }

    .txt-dps-central>p {
        font-size: 18px;
    }
}

@media screen and (max-width: 505px) {
    .txt-dps-central>h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 444px) {
    .txt-dps-central>h1 {
        font-size: 18px;
    }

    .txt-dps-central>p {
        font-size: 17px;
    }
}

@media screen and (max-width: 398px) {
    .txt-dps-central>h1 {
        width: 97%;
        font-size: 18px;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .txt-dps-central>p {
        font-size: 17px;
        text-align: center;
        padding-left: 4%;
        padding-right: 4%;
    }

    .txt-dps-central-2-row>.periodos {
        padding-right: 28%;
    }

    .txt-dps-central-2-row>.periodos>.svg-campo>svg {
        margin-top: 6%;
        width: 25px;
    }
}

@media screen and (max-width: 361px) {
    .txt-dps-central-2-row>.tm>ul {
        font-size: 20px;
    }
}

.campo-txt-img {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.campo-txt-img>.campo-svg-txt {
    background-color: #27AAE1;
}

.campo-txt-img>.campo-svg-txt>svg {
    width: 100px;
    fill: #ffffff;
    margin-top: 50%;
    margin-bottom: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.campo-txt-img>.campo-txt {
    background-color: #27AAE1;
    padding-top: 3%;
}

.campo-txt-img>.campo-txt>h1 {
    margin-top: 2%;
    margin-left: 2%;
    background-color: #4ED963;
    width: fit-content;
    padding: 0.5%;
    font-size: 33px;
    text-align: center;
}

.campo-txt-img>.campo-txt>p {
    margin-top: 2%;
    margin-left: 2%;
    width: 75%;
    font-size: 25px;
}

@media screen and (max-width: 1050px) {
    .campo-txt-img>.campo-txt>p {
        width: 99%;
        font-size: 17px;
        margin-left: 2%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 740px) {
    .campo-txt-img>.campo-svg-txt>svg {
        margin-top: 60%;
    }
}

@media screen and (max-width: 718px) {
    .campo-txt-img>.campo-svg-txt>svg {
        margin-top: 85%;
    }
}

@media screen and (max-width: 651px) {
    .campo-txt-img>.campo-svg-txt {
        margin-left: 0;
    }

    .campo-txt-img>.campo-svg-txt>svg {
        margin: 0;
        width: 130px;
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .campo-txt-img>.campo-txt {
        margin-left: 0;
    }

    .campo-txt-img>.campo-txt>p {
        padding-left: 0;
        text-align: center;
    }

    .campo-txt-img>.campo-txt>h1 {
        padding-left: 0;
        margin-left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 420px) {
    .campo-txt-img>.campo-txt>h1 {
        font-size: 20px;
    }
}

.carousel {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom: 5%;
}

.carousel>.carousel-inner {
    padding: 0;
}

.carousel>.carousel-inner>.carousel-item>img {
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 690px) {
    .carousel {
        width: 100%;
        padding-bottom: 0;
    }

    .carousel>.carousel-inner>.carousel-item>img {
        height: 300px;
    }
}

.ensino {
    width: 100%;
    background-color: #ffffff;
    margin-left: 0;
    padding-bottom: 5%;
    padding-top: 5%;
}

.ensino>.infa {
    padding-bottom: 5%;
}

.ensino>.infa>.campo-svg-txt-infa {
    background-color: #CDE2EB;
    margin-top: 5%;
    width: 65%;
    border-radius: 15px;
    float: right;
    margin-right: 10%;
}

.ensino>.infa>.campo-svg-txt-infa>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.ensino>.infa>.campo-svg-txt-infa>.campo-txt-infa {
    margin-left: 0;
    padding-bottom: 5%;
}

.ensino>.infa>.campo-svg-txt-infa>.campo-txt-infa>h1 {
    color: #2154C6;
    text-align: center;
}

.ensino>.infa>.campo-svg-txt-infa>.campo-txt-infa>p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    color: #000000;
    font-weight: 600;
}

.ensino>.funda {
    padding-bottom: 5%;
}

.ensino>.funda>.campo-svg-txt-funda {
    background-color: #CDE2EB;
    margin-top: 5%;
    width: 65%;
    border-radius: 15px;
    float: left;
    margin-left: 10%;
}

.ensino>.funda>.campo-svg-txt-funda>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.ensino>.funda>.campo-svg-txt-funda>.campo-txt-funda {
    margin-left: 0;
    padding-bottom: 11.5%;
}

.ensino>.funda>.campo-svg-txt-funda>.campo-txt-funda>h1 {
    color: #2154C6;
    text-align: center;
}

.ensino>.funda>.campo-svg-txt-funda>.campo-txt-funda>p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    color: #000000;
    font-weight: 600;
}